<div class="row">
  <div class="col-12">
    <h1>All our Flats</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>All <%= @flats.length %> flats<p>
  </div>
</div>

<% flats = @flats.each_slice(3) %>
<% flats.each do |flat| %>
<div class="row">
  <% flat.each do |listing| %>
  <div class="col-4">
    <div class="card">
    <%= listing %>
    </div>
  </div>
  <% end %>
</div>
<% end %>