<div class="row">
  <div class="col-12">
    <h1>All our Flats</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>All <% @flats.length %> flats<p>
  </div>
</div>
<% @flats.each do |flat| %>
  <%= flat %>
<% end %>
