<div class="big-picture min-vw-100"></div>
<div class="container mt-n5">
  <div class="row flex-grow">
    <div class="col-8">
    <div class="flat-show card p-3 shadow-sm">
      <h1><%= @flat.name %></h1>
      <p><%= @flat.address %></p>
      </div>
      <div class="flat-show card p-3 mt-3 shadow-sm">
      <h3>A bit more about this flat...</h3>
      <p><%= @flat.description %></p>
      </div>
    </div>
    <div class="card col-4">
      Book this place!
    </div>
  </div>
</div>
