<div class="big-picture min-vw-100"></div>
<div class="container mt-n5 pd 3">
  <div class="card col-8">
  <h1><%= @flat.name %></h1>
  <p><%= @flat.address %></p>
  </div>
  <div class="card col-4">
  </div>
</div>
